<?xml version="1.0"?>
<config>
    <modules>
        <Rom_Logger>
            <version>0.1.0</version>
        </Rom_Logger>
    </modules>
    <global>
        <models>
            <romlogger>
                <class>Rom_Logger_Model</class>
                <resourceModel>romlogger_resource</resourceModel>
            </romlogger>
            <romlogger_resource>
                <class>Rom_Logger_Model_Resource</class>
                <entities>
                    <log>
                        <table>romlogger_log</table>
                    </log>
                </entities>
            </romlogger_resource>
        </models>
        <blocks>
            <rom_logger>
                <class>Rom_Logger_Block</class>
            </rom_logger>
        </blocks>
        <helpers>
            <romlogger>
                <class>Rom_Logger_Helper</class>
            </romlogger>
        </helpers>
        <resources>
            <romlogger_setup>
                <setup>
                    <module>Rom_Logger</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </romlogger_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <romlogger before="Mage_Adminhtml">Rom_Logger_Adminhtml</romlogger>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <romlogger>
                    <file>rom_logger.xml</file>
                </romlogger>
            </updates>
        </layout>
    </adminhtml>
</config>