<?xml version="1.0"?>
<config>
    <modules>
        <Rom_Logger>
            <version>0.1.0</version>
        </Rom_Logger>
    </modules>
    <global>
        <models>
            <rom_logger>
                <class>Rom_Logger_Model</class>
                <resourceModel>rom_logger_resource</resourceModel>
            </rom_logger>
            <rom_logger_resource>
                <class>Rom_Logger_Model_Resource</class>
                <entities>
                    <log>
                        <table>rom_logger_log</table>
                    </log>
                </entities>
            </rom_logger_resource>
        </models>
        <blocks>
            <rom_logger>
                <class>Rom_Logger_Block</class>
            </rom_logger>
        </blocks>
        <helpers>
            <rom_logger>
                <class>Rom_Logger_Helper</class>
            </rom_logger>
        </helpers>
        <resources>
            <rom_logger_setup>
                <setup>
                    <module>Rom_Logger</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rom_logger_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <rom_logger before="Mage_Adminhtml">Rom_Logger_Adminhtml</rom_logger>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <rom_logger>
                    <file>rom_logger.xml</file>
                </rom_logger>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <rom_logger>
            <database>
                <error>1</error>
                <warning>1</warning>
                <info>1</info>
                <debug>0</debug>
            </database>
            <file>
                <error>1</error>
                <warning>1</warning>
                <info>1</info>
                <debug>1</debug>
                <log_reference>1</log_reference>
                <log_additional_data>0</log_additional_data>
            </file>
        </rom_logger>
    </default>
</config>